name:  Test, build and deploy
on: [push,pull_request]
jobs:
  test:
    name: run unit test and perform code coverage
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.14'
          channel: 'dev'
      - run: flutter pub get
      - run: flutter  analyze
      - run: flutter test --coverage
      - run: flutter pub global activate remove_from_coverage
      - run: flutter pub global run remove_from_coverage:remove_from_coverage -f coverage/lcov.info -r '.g.dart,license.dart,_router.dart,current_player.dart,bottom_bar.dart,connection_contract.dart,custom_image.dart,neumorfism.dart,notification_subscription_contract.dart,player_view.dart,top_bar.dart$'
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info

# start testing e2e tests
# flutter drive --profile --target=test_driver/app.dart --driver=test_driver/home_test.dart
